<div class="footer">
	<hr>
	<p class="footer text-center"> Halligan Hall 161 College Ave Medford, MA 02155 Email: tuftsknockout@gmail.com</p>
	<p class="footer text-center">&copy; 2016 by KNOCKOUT</p>
</div>