{{> navbar}}
<h1 class="page-title text-center"> CONTACT</h1>
<img class="star_dividor" src="images/starandlines.png" alt="divider">
<h2 class="visit text-center"> visit us </h2>
<img class="star_dividor" src="images/starandlines.png" alt="divider">
<div class="address">
	<p class="address text-center"> Halligan Hall </p>
	<p class="address text-center"> 161 College Ave, Medford, MA 02155 </p>
	<p class="address text-center"> E-mail: tuftskockout@gmail.com </p>
</div>