{{> navbar}}
<h1 class="video-title text-center"> CONTACT</h1>
<img class="star_dividor" src="images/starandlines.png" alt="divider">
<h2 class="visit text-center"> visit us </h2>
<img class="star_dividor" src="images/starandlines.png" alt="divider">
<p class="adress text-center"> Halligan Hall </p>
<p class="adress text-center"> 161 College Ave, Medford, MA 02155 </p>
<p class="adress text-center"> E-mail: tuftskockout@gmail.com </p>