{{> mini_navbar}}
<h1 class="video-title text-center"> Hagler vs Hearns April 2015</h1>
<img class="star_dividor video" src="/images/starandlines.png" alt="divider">
<div id="player"></div>
<div id="current-time"></div>
<h2 class="text-center">Select Boxer</h2>
<div class="player_group">
	<button class="btn player player1 button_outline" type="submit"><img class="player_button img-circle" src="/images/hagler.jpg"> <span class="player_name">Marvin Hagler</span></button>
	<button class="btn player player2" type="submit"><img class="player_button img-circle" src="/images/hearns.jpg"><span class="player_name">Thomas Hearns</span></button>
</div>
<h2 class="text-center">Motor Toggle</h2>
<div class="wrap">
	<div class="image-container">
		<img class="silhouette" src="/images/boxing-silhouette.png">
		<button class="btn btn-circle motor motor1 button_on"></button>
		<button class="btn btn-circle motor motor2 button_on"></button>
		<button class="btn btn-circle motor motor3 button_on"></button>
		<button class="btn btn-circle motor motor4 button_on"></button>
		<button class="btn btn-circle motor motor5 button_on"></button>
		<button class="btn btn-circle motor motor6 button_on"></button>
		<button class="btn btn-circle motor motor7 button_on"></button>
		<button class="btn btn-circle motor motor8 button_on"></button>
		<button class="btn btn-circle motor motor9 button_on"></button>
	</div>
	<div class="box">
		<div class="box_line">
			<button class="btn btn-circle motor_green"></button>
			<p class="box_text">Motor is on</p>
		</div>
		<div class="box_line">
			<button class="btn btn-circle motor_red"></button>
			<p class="box_text">Motor is off</p>
		</div>
		<div class="btn-group btn-toggle"> 
    		<button class="btn toggle btn-default">ALL OFF</button>
    		<button class="btn toggle btn-primary active">ALL ON</button>
  		</div>
</div>
</div>
