{{> navbar}}
<h1 class="page-title text-center"> VIDEOS</h1>
<img class="star_dividor" src="images/starandlines.png" alt="divider">
<section>
	<ul id="video-gallery" class="video-gallery">
		<li>
			<a href="/videos/fight">
				<img src="/images/haglervshearns.jpg" />
				<div><span>Hagler vs Hearns April 2015</span></div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Fight 2</span></div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Fight 3</span></div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Fight 4</span></div>
			</a>
		</li>
		<li>	
			<a href="#">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Fight 5</span></div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Fight 6</span></div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Fight 7</span></div>
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Fight 8</span></div>
			</a>
		</li>
	</ul>
</section>