{{> navbar}}
<h1 class="video-title text-center"> VIDEOS</h1>
<img class="star_dividor" src="images/starandlines.png" alt="divider">
<section>
	<ul id="video-gallery" class="video-gallery">
		<li>
			<a href="/videos/alivsfrazier">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Muhammad Ali vs Joe Frazier 3</span></div>
			</a>
		</li>
		<li>
			<a href="http://dribbble.com/shots/504336-TN-Aquarium">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>TN Aquarium by Charlie Gann</span></div>
			</a>
		</li>
		<li>
			<a href="http://dribbble.com/shots/504197-Mr-Crabs">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Mr. Crabs by John Generalov</span></div>
			</a>
		</li>
		<li>
			<a href="http://dribbble.com/shots/503731-Gallery-of-Mo-2-Mo-logo">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Gallery of Mo 2.Mo logo by Adam Campion</span></div>
			</a>
		</li>
		<li>	
			<a href="http://dribbble.com/shots/503058-Ice-Cream-nom-nom">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Ice Cream - nom nom by Eight Hour Day</span></div>
			</a>
		</li>
		<li>
			<a href="http://dribbble.com/shots/502927-My-Muse">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>My Muse by Zachary Horst</span></div>
			</a>
		</li>
		<li>
			<a href="http://dribbble.com/shots/502538-Natalie-Justin-Cleaning">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>Natalie & Justin Cleaning by Justin Younger</span></div>
			</a>
		</li>
		<li>
			<a href="http://dribbble.com/shots/502523-App-Preview">
				<img src="/images/alivsfrazier.jpg" />
				<div><span>App Preview by Ryan Deshler</span></div>
			</a>
		</li>
	</ul>
</section>