.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* for IE8 */

    width: 53px;
    height: 53px;
    padding: 8px;

    background: transparent;
    border: 2px solid #8B0000;
    color: #8B0000;
    text-align: center;
    font-size: 27px;
    margin-bottom: 15px;


}

.step_number {
    font-size: 27px;
    color: #8B0000;
    text-align: center;
}
.textBox {

    width: 100%;
    height: 50px;
    padding: 8px;

    background: transparent;
    border: 2px solid #333333;
    color: #333333;
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}


h2.kit {
    float: left;
    width: 75%;
    
}

div#carousel-steps {
    
    
    width: 350px;
    text-align: center;
    
}

.steps_wrap {
    width: 66%;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    height: auto;
}

.steps_text {
    text-align: center;
    float:left;
    margin: 0 auto;
    margin-left: 150px;
    width: 27%;
}
.row.kit {
    margin: 50px auto;
    width: 85%;
}

.row.steps {
    margin: 50px auto;
    width: 70%;

}

div.textBox.red_text {
    color: #8B0000;
    border: 2px solid #8B0000;
}