body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
	background-color: #8B0000;
	border: none;
	display:block;
	height: 50px;
	width: 300px;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
}

.btn {
	color: white;
}

h1.title{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 100px;
	margin-bottom: 50px;
}