body {
  padding: 20px;
  font: 14px Impact, Charcoal, sans-serif;
  position: absolute;
  top: 0px;
  height: 100%;
  width:100%;
  background-image: url("../images/background.png");
  background-position: 50% 0%;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #333333;
}

a {
  color: #00B7FF;
}

button.btn {
	background-color: #8B0000;
	border: none;
	display:block;
	height: 50px;
	width: 300px;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
}

.btn {
	color: white;
}
img.star_dividor {
	display: block;
	width: 350px;
	margin: 0 auto;
}

img.star_dividor.video {
	margin: 15px auto;
} 
h1.videos-title {
	color: #8B0000;
	font-size: 60px;
}
h1.page-title {
	color: #8B0000;
	font-size: 40px;
}

h1.title{
	font-size: 120px;
	margin-top: 0px;
}
h1 span.color_red {
	color: #8B0000;
}
@media screen and (max-width: 800px) {
	h1.title{
		font-size: 90px;
	}
}
@media screen and (max-width: 500px) {
	h1.title{
		font-size: 70px;
	}
	h1.video-title {
	font-size: 40px;
	}
	img.star_dividor {
	width: 250px;
	}
}

hr {
	border-top: 2px solid black;
}
p.footer {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;

}
div.footer {
	margin:50px 0;
}